In [1]:
import pandas as pd
df = pd.read_csv("/home/miki/Documents/10 Academy/Week 2/Traffic_DWH/20181024_d1_0830_0900.csv")

In [2]:
df.columns.to_list()

['track_id; type; traveled_d; avg_speed; lat; lon; speed; lon_acc; lat_acc; time']

In [3]:
with open("/home/miki/Documents/10 Academy/Week 2/Traffic_DWH/20181024_d1_0830_0900.csv", 'r') as file:
    lines = file.readlines()

In [4]:
print(f"The number of rows/lines is {len(lines)}")

The number of rows/lines is 923

In [5]:
print(lines[0]) # column names
print(lines[0].strip('\n').strip().strip(';').split(';')) # columns names as a list

track_id; type; traveled_d; avg_speed; lat; lon; speed; lon_acc; lat_acc; time

['track_id', ' type', ' traveled_d', ' avg_speed', ' lat', ' lon', ' speed', ' lon_acc', ' lat_acc', ' time']

In [6]:
lines_as_lists = [line.strip('\n').strip().strip(';').split(';') for line in lines]
len(lines_as_lists)

923

In [10]:
print(f"the number of fields in row 1 is {len(lines_as_lists[1])}, row 2 is {len(lines_as_lists[2])}")

the number of fields in row 1 is 2710, row 2 is 2680

In [11]:
for row in lines_as_lists:
    track_info.append(row)

In [10]:
track_info = [
    {'track_id': row[0], 'type': row[1], 'traveled_d': row[2], 'avg_speed': row[3]}
    for row in lines_as_lists
]

In [12]:
cols = lines_as_lists.pop(0)

In [13]:
track_cols = cols[:4]
trajectory_cols = ['track_id'] + cols[4:]

print(track_cols)
print(trajectory_cols)

['track_id', ' type', ' traveled_d', ' avg_speed']
['track_id', ' lat', ' lon', ' speed', ' lon_acc', ' lat_acc', ' time']

In [ ]:
print(track_info)

In [14]:
df_track = df_track.reset_index(drop=True)
print(df_track)

NameError: name 'df_track' is not defined

In [ ]:
if len(track_info[0]) != len(track_cols):
    print("The number of columns in track_info does not match the length of track_cols.")
else:
    print("The number of columns in track_info matches the length of track_cols.")

The number of columns in track_info matches the length of track_cols.

In [ ]:
track_info = []
trajectory_info = []

# for row in lines_as_lists:
track_id = row[0]

#     # add the first 4 values to track_info
track_info.append(row[:4]) 

remaining_values = row[4:]
#     # reshape the list into a matrix and add track_id
trajectory_matrix = [ [track_id] + remaining_values[i:i+6] for i in range(0,len(remaining_values),6)]
#     # add the matrix rows to trajectory_info
trajectory_info = trajectory_info + trajectory_matrix

In [15]:
df_track = pd.DataFrame(data= track_info,columns=track_cols)
df_track.columns = df_track.columns.str.strip()

df_track

ValueError: dictionary update sequence element #0 has length 8; 2 is required

In [16]:
print(len(track_info))
print(df_track.info())
print(df_track)

1846

NameError: name 'df_track' is not defined

In [ ]:
df_trajectory = pd.DataFrame(data= trajectory_info,columns=trajectory_cols)
df_trajectory.columns = df_trajectory.columns.str.strip()

df_trajectory.head(20)

   track_id         lat         lon     speed   lon_acc   lat_acc         time
0       922   37.978428   23.735538   24.1909   -0.0077   -0.0660   813.400000
1       922   37.978429   23.735541   24.1920    0.0017   -0.0709   813.440000
2       922   37.978430   23.735544   24.1941    0.0080   -0.0757   813.480000
3       922   37.978432   23.735546   24.1966    0.0117   -0.0804   813.520000
4       922   37.978433   23.735549   24.1996    0.0176   -0.0851   813.560000
5       922   37.978434   23.735551   24.2034    0.0254   -0.0898   813.600000
6       922   37.978435   23.735554   24.2081    0.0346   -0.0944   813.640000
7       922   37.978437   23.735557   24.2134    0.0376   -0.0991   813.680000
8       922   37.978438   23.735559   24.2188    0.0389   -0.1036   813.720000
9       922   37.978439   23.735562   24.2247    0.0475   -0.1081   813.760000
10      922   37.978441   23.735564   24.2320    0.0624   -0.1125   813.800000
11      922   37.978442   23.735567   24.2415    0.0830   -0.1168   813.840000
12      922   37.978443   23.735569   24.2536    0.1028   -0.1209   813.880000
13      922   37.978444   23.735572   24.2677    0.1169   -0.1243   813.920000
14      922   37.978446   23.735575   24.2857    0.1336   -0.1316   813.960000
15      922   37.978447   23.735577   24.3060    0.1485   -0.1379   814.000000
16      922   37.978448   23.735580   24.3285    0.1634   -0.1432   814.040000
17      922   37.978450   23.735582   24.3536    0.1857   -0.1475   814.080000
18      922   37.978451   23.735585   24.3821    0.2099   -0.1508   814.120000
19      922   37.978452   23.735588   24.4135    0.2258   -0.1531   814.160000