In [2]:
import pandas as pd
df = pd.read_csv("/home/miki/Documents/10 Academy/Week 2/Traffic_DWH/data/20181024_d3_1030_1100.csv")

In [3]:
df.columns.to_list()

['track_id; type; traveled_d; avg_speed; lat; lon; speed; lon_acc; lat_acc; time']

In [4]:
with open("/home/miki/Documents/10 Academy/Week 2/Traffic_DWH/data/20181024_d3_1030_1100.csv", 'r') as file:
    lines = file.readlines()

In [5]:
print(f"The number of rows/lines is {len(lines)}")

The number of rows/lines is 1380

In [6]:
print(lines[0]) # column names
print(lines[0].strip('\n').strip().strip(';').split(';')) # columns names as a list

track_id; type; traveled_d; avg_speed; lat; lon; speed; lon_acc; lat_acc; time

['track_id', ' type', ' traveled_d', ' avg_speed', ' lat', ' lon', ' speed', ' lon_acc', ' lat_acc', ' time']

In [7]:
lines_as_lists = [line.strip('\n').strip().strip(';').split(';') for line in lines]
len(lines_as_lists)

1380

In [8]:
print(f"the number of fields in row 1 is {len(lines_as_lists[1])}, row 2 is {len(lines_as_lists[2])}")

the number of fields in row 1 is 520, row 2 is 850

In [9]:
no_field_max = 0

for row in lines_as_lists:
    if len(row) > no_field_max:
        no_field_max = len(row)

print(f"the maximum number of fields is {no_field_max}")
largest_n = int((no_field_max-4)/6)
print(f"the largest n = {largest_n}")

the maximum number of fields is 65110
the largest n = 10851

In [10]:
cols = lines_as_lists.pop(0)

In [11]:
track_cols = cols[:4]
trajectory_cols = ['track_id'] + cols[4:]

print(track_cols)
print(trajectory_cols)

['track_id', ' type', ' traveled_d', ' avg_speed']
['track_id', ' lat', ' lon', ' speed', ' lon_acc', ' lat_acc', ' time']

In [12]:
track_info = []
trajectory_info = []

# for row in lines_as_lists:
track_id = row[0]

#     # add the first 4 values to track_info
track_info.append(row[:4]) 

remaining_values = row[4:]
#     # reshape the list into a matrix and add track_id
trajectory_matrix = [ [track_id] + remaining_values[i:i+6] for i in range(0,len(remaining_values),6)]
#     # add the matrix rows to trajectory_info
trajectory_info = trajectory_info + trajectory_matrix

In [13]:
df_track = pd.DataFrame(data= track_info,columns=track_cols)

df_track.head()

  track_id         type  traveled_d   avg_speed
0     1379   Motorcycle        3.74   33.694996

In [14]:
df_trajectory = pd.DataFrame(data= trajectory_info,columns=trajectory_cols)

df_trajectory.head()

  track_id         lat         lon     speed  lon_acc  lat_acc         time
0     1379   37.982845   23.729216   37.4389   0.0000   0.0000   433.600000
1     1379   37.982842   23.729219   37.4389   0.0000   0.0000   433.640000
2     1379   37.982839   23.729222   37.4389   0.0000   0.0000   433.680000
3     1379   37.982836   23.729225   37.4389   0.0000   0.0000   433.720000
4     1379   37.982833   23.729227   37.4389   0.0000   0.0000   433.760000